---
layout: base
---

<div class="contain-threequart">
<article itemscope itemtype="http://schema.org/BlogPosting">
	
    <h1>{{ page.title | escape }}</h1>
	<p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
	  
	  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  <br>
  FILED UNDER:
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag | uppercase }}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
	</p>
    


  <div itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


	
  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
</div>